.body {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
  font-family: "Roboto Mono", sans-serif;

}

.multimedia {
  display: flex;
  flex-direction: row;
}

.multimedia p {
  margin-right: 10px;
}

.body img {
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-nav {
  display: flex;
}

.sub-nav p {
  margin-left: 15px;
}

a {
  color: #4c525c;
  position: relative;
  text-decoration: none;
}

a:hover{
    color: black ;
}
/* 
a::before {
  background: hsl(45 100% 70%) ;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
} */
